html, body {
    font-family: 'Hubot Sans', sans-serif;
    font-size: 16px;
    background-color: #1A1A1A; /* Slightly lighter black for improved contrast */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    background-color: #C38E53; /* Warm golden brown for a vibrant feel */
    height: 7%;
    font-size: 1em;
    justify-content: space-around;
    align-items: center;
}
.top-status-container {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.control-button {
    display: flex;
}
.icon-spec {
    width: 100%;
    height: 100%;
}
.control-button:hover {
    opacity: 0.8; /* Slightly brighter hover effect for subtle emphasis */
}
.problem-container {
    display: flex;
    background-color: #F5D1A3; /* Soft, warm tan for natural contrast with black text */
    height: 53%;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: solid black 1px;
}

.current-problem {
    font-style: italic;
    font-family: "Bitter", serif;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
}
.current-problem sup {
    font-size: 60%;
}
.current-task {
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 10px;
    display: flex;
    font-size: 50px;
}

.options-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: #FF914D;
    height: 40%;
    width: 100%;
}
.option-single {
    font-family: "Bitter", serif;
    font-size: 35px;
    background-color: #FF6F59;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.3s ease;
}
.option-single sup {
    font-size: 50%;
}
.option-single:hover {
    background-color: #FF4500;
}

.game-stats {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    width:90%;
    margin-bottom: 70px;
}
